<div style="background-color:#f6f6f6;color:#000000">
  <center>
    <table
         width="620"
         style="max-width:620px;border-collapse:collapse;margin:0 auto 0 auto"
         border="0"
         cellpadding="0"
         cellspacing="0"
    >
      <tbody>
      <tr>
        <td>
          <table width="580" style="max-width:580px;padding-left:20px;padding-right:20px" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
              <td align="center" style="font-family:AvenirNext-Regular,Droid Sans monospace,Roboto,Arial,sans-serif">
                <p style="font-size:45px;color:#000000;letter-spacing:-1.5px">
                  Добро пожаловать в Notificator!
                </p>
              </td>
            </tr>
            <tr style="background:#ffffff">
              <td align="left" border="0" style="padding-left:20px;padding-right:20px;padding-top:100px;font-size:22px;color:#000000;letter-spacing:0;line-height:37px;font-family:AvenirNext-Regular,Droid Sans monospace,Roboto,Arial,sans-serif">
                <p>
                  <span style="display:block">Перед тем как пользоваться сервисом, подтвердите свою почту!</span>
                  <span style="display:block">
                    Это защитит ваш аккаунт и, а еще с помощью почты вы сможете восстановить пароль,
                    если вдруг его забудете.
                  </span>
                </p>
              </td>
            </tr>
            <tr style="background:#ffffff;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;">
              <td align="center" style="padding-top:10px;padding-bottom:100px;">
                <a href="{{link}}" style="color:#000000;text-decoration:none" target="_blank">
                  <div align="center" style="border:1px solid #ffff00;background-color:#fffc01;width:300px;height:60px;border-radius:6px">
                    <table align="center">
                      <tbody>
                      <tr>
                        <td align="center" valign="middle" style="color:#000000;font-size:18px;letter-spacing:2.25px;padding-top:18px;font-weight:bold;font-family:AvenirNext-Regular,Droid Sans monospace,Roboto,Arial,sans-serif">
                          ПОДТВЕРДИТЬ ПОЧТУ
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </a>
              </td>
            </tr>
            <tr>
              <td align="center" style="margin-top:0;margin-bottom:0;color:#262626;font-size:17px;padding-top:30px;padding-bottom:70px;letter-spacing:0;line-height:35px;font-family:AvenirNext-Regular,Droid Sans monospace,Roboto,Arial,sans-serif">
                <p style="color:#000000;text-decoration:none">
                  <span>{{front}}</span>
                </p>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </center>
</div>
