<div style="background-color:#f6f6f6;color:#000000">
  <center>
    <table
         width="620"
         style="max-width:620px;border-collapse:collapse;margin:0 auto 0 auto"
         border="0"
         cellpadding="0"
         cellspacing="0"
    >
      <tbody>
      <tr>
        <td>
          <table width="580" style="max-width:580px;padding-left:20px;padding-right:20px" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
              <td align="center" style="font-family:AvenirNext-Regular,Droid Sans monospace,Roboto,Arial,sans-serif">
                <p style="font-size:45px;color:#000000;letter-spacing:-1.5px">
                  Сброс пароля!
                </p>
              </td>
            </tr>
            <tr style="background:#ffffff">
              <td align="left" border="0" style="padding-left:20px;padding-right:20px;padding-top:100px;font-size:22px;color:#000000;letter-spacing:0;line-height:37px;font-family:AvenirNext-Regular,Droid Sans monospace,Roboto,Arial,sans-serif">
                <p>
                  <span style="display:block">Чтобы сбросить пароль перейдите по этой ссылке:!</span>
                  <span>{{link}}</span>
                  <span style="display:block">
                    Если вы не хотите этого делать, то просто проигнорируйте наше письмо — вероятно, кто-то по ошибке дал нам ваше имя пользователя или адрес почты.
                  </span>
                  <span style="display:block">
                    С уважением, команда Notificator!
                  </span>
                </p>
              </td>
            </tr>
            <tr>
              <td align="center" style="margin-top:0;margin-bottom:0;color:#262626;font-size:17px;padding-top:30px;padding-bottom:70px;letter-spacing:0;line-height:35px;font-family:AvenirNext-Regular,Droid Sans monospace,Roboto,Arial,sans-serif">
                <p style="color:#000000;text-decoration:none">
                  <span>{{front}}</span>
                </p>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </center>
</div>
